body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f71b7+0,1dadd8+50,1f71b7+100 */
    background: rgb(31, 113, 183);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(31, 113, 183, 1) 0%, rgba(29, 173, 216, 1) 50%, rgba(31, 113, 183, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(31, 113, 183, 1)), color-stop(50%, rgba(29, 173, 216, 1)), color-stop(100%, rgba(31, 113, 183, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(31, 113, 183, 1) 0%, rgba(29, 173, 216, 1) 50%, rgba(31, 113, 183, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(31, 113, 183, 1) 0%, rgba(29, 173, 216, 1) 50%, rgba(31, 113, 183, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(31, 113, 183, 1) 0%, rgba(29, 173, 216, 1) 50%, rgba(31, 113, 183, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(31, 113, 183, 1) 0%, rgba(29, 173, 216, 1) 50%, rgba(31, 113, 183, 1) 100%);
    /* W3C */
}

.content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    img {
        width: 172px;
        height: 60px;
    }
}

.wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000;
    position: relative;
    padding: 20px 0 20px 0;
    margin: 0 auto;
}


/* Header * --------------------------------------- */

#section1 {
    background-image: url("../img/header_img/1.jpg");
    background-position: center center;
    background-size: cover;
}


/* End Header * --------------------------------------- */


/* Today * --------------------------------------- */

.today {
    width: 100%;
    position: relative;
    height: 300px;
    margin-left: 20px;
    .today-wrapper {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        max-height: 363px;
        top: -65px;
        overflow: hidden;
    }
    @media screen and (max-width: 800px) {
        .today-wrapper {
            width: 80%;
        }
    }
    .today-block {
        width: 100%;
        max-height: 363px;
        .sy-pager {
            display: none;
        }
    }
    a img {
        border-radius: 15px;
        width: 45%;
        max-height: 363px;
    }
    .sy-caption-wrap {
        width: 40%;
        top: 75;
        height: 100%;
        bottom: 0em;
        left: 70%;
        .sy-caption {
            text-align: center;
            z-index: 333;
            display: block;
            .cap1_title {
                background-color: #FFF;
                color: #1F71B7;
                padding: 5px 12px 2px;
                width: 60%;
                font-size: 1.5em;
                margin: 0 auto;
                letter-spacing: .1em;
                text-transform: uppercase;
            }
            .cap1_info {
                margin-top: 32px;
                color: #FFF;
                font-size: 1.7em;
                //letter-spacing: .05em;
            }
            .cap1_btn img {
                margin-top: 27px;
                width: 58px;
                height: 58px;
                &:hover {
                    opacity: .5;
                }
            }
        }
    }
}


/* End Today * --------------------------------------- */


/* Privilege * --------------------------------------- */

.privilege {
    position: relative;
    height: 466px;
    max-width: 980px;
    margin-left: 40px;
    .privilege-wrapper {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        margin-top: -7px;
        max-height: 100%;
        overflow: hidden;
        z-index: 10;
    }
    .privilege-block {
        width: 100%;
        max-height: 100%;
        .privilege-block_header {
            background-image: url("../img/privilege/pvl_headder_box.png");
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            max-width: inherit;
            height: 61px;
            //border-radius: 15px;
            .privilege-block_header_title {
                max-width: inherit;
                float: right;
                color: #FFFFFF;
                text-align: center;
                font-size: 1.4em;
                letter-spacing: .2em;
                margin: 3.1% 5% 0% 0%;
                text-transform: uppercase;
            }
        }
        .privilege-block_body {
            .privilege-block_body_img_ul {
                max-width: inherit;
                list-style: none;
                font-size: 0px;
                margin: 0 auto;
                overflow: hidden;
                li {
                    display: inline;
                    img {
                        position: relative;
                        overflow: hidden;
                        max-width: 320px;
                        //height: 466px;
                    }
                }
            }
            .privilege-block_body_info {
                //max-width: 100%;
                height: 6.25em;
                img.privilege-block_body_info_quote_footer {
                    float: right;
                    width: 282px;
                    height: 120px;
                    //position:absolute;
                }
                .privilege-block_body_info_ul {
                    margin: 0 auto;
                    display: inline-flex;
                    max-width: inherit;
                    list-style: none;
                    height: inherit;
                    //border-style: #5FCDEF;
                    //position: absolute;
                    //position: relative;
                    //font-size: 0px;
                    //overflow: hidden;
                    li.privilege-block_body_info_li {
                        border: none;
                        position: relative;
                        margin-top: -11px;
                        display: inline-block;
                        height: 85px;
                        width: 320px;
                        -webkit-transition: margin 2s;
                        transition: margin 2s;
                        flex-grow: 1;
                        //float: left;
                        //background-image: url("../img/privilege/tab_img.png");
                        //background-size: cover;
                        //background-position: center center;
                        //background-repeat: no-repeat;
                        .privilege-block_body_info_box {
                            width: 320px;
                            height: auto;
                            display: block;
                            /*
                            img {
                                height: 85px;
                                width: 320px;
                                //position: absolute;
                                //overflow: hidden;
                                font-size: 0px;
                            }
                            &:hover {
                                //margin-top: -40px;
                                //opacity: .5;
                                //height: 120px;
                            }
                            */
                            .privilege-block_body_info_li_tab {
                                position: relative;
                                font-size: 0px;
                                width: 320px;
                                height: 100px;
                                top: 11px;
                                background-color: #5FCDEF;
                                display: inline-block;
                                font-size: 0px;
                                //border-bottom-left-radius: 18px;
                                //transition: all .5s;
                                &:before {
                                    position: absolute;
                                    background: #5FCDEF;
                                    border-radius: 200px / 15px;
                                    border-bottom: 20px solid #5FCDEF;
                                    border-left: 38px solid transparent;
                                    border-right: 50px solid transparent;
                                    content: "";
                                    left: 0px;
                                    top: -11px;
                                    width: 232px;
                                    transform: rotate(180deg);
                                }
                            }
                            #pvl_first_tab_li {
                                border-bottom-left-radius: 18px;
                            }
                            #pvl_last_tab_li {
                                border-bottom-right-radius: 18px;
                            }
                            p {
                                position: absolute;
                                color: #FFF;
                                font-size: 1.4em;
                                font-weight: normal;
                                text-align: center;
                                width: 320px;
                                top: 30%;
                                z-index: 20;
                                //vertical-align: bottom;
                            }
                        }
                    }
                } // end .privilege-block_body_info_ul
                /*
                .privilege-block_body_info_ul_foot {
                    margin: 0 auto;
                    display: inline-flex;
                    max-width: inherit;
                    list-style: none;
                    border: none;
                    li.privilege-block_body_info_li_foot2 {
                        font-size: 0px;
                        width: 320px;
                        height: 20px;
                        background-color: #5FCDEF;
                        //margin-top: -1px;
                    }
                }
                */
            }
        }
    }
} //end .privilege

/* End Privilege * --------------------------------------- */


/* Promotion * --------------------------------------- */

.promotion {
    margin-top: 10px;
    //margin-left: 20px;
    .promotion-wrapper {
        position: relative;
        display: inline-block;
        width: 990px;
        height: 600px;
        .promotion-block_slide {
            position: absolute;
            width: 50%;
            height: 540px;
            float: left;
            background-color: red;
            top: -150px;
            z-index: 30;
            .promotion-block_header {
                background-image: url("../img/promotion/prm_slide/prm_header.png");
                background-size: contain;
                //background-position: center left;
                background-repeat: no-repeat;
                max-width: 100%;
                height: 48px;
                //border-radius: 15px;
                .promotion-block_header_title {
                    max-width: inherit;
                    float: left;
                    color: #FFFFFF;
                    text-align: center;
                    font-size: 1.4em;
                    letter-spacing: .2em;
                    margin: 4.0% 5% 0% 10%;
                    text-transform: uppercase;
                }
            }
            .promotion_slide_block {
                width: 100%;
                max-height: 338px;
                overflow: hidden;
                .sy-box {
                    height: 280px;
                    .sy-controls li.sy-next {
                        right: -13px;
                    }
                    .sy-pager {
                        display: none;
                    }
                } //end .promotion_slide_block > sy-box
            }
        } //end .promotion-block-slide
    } //end .promotion-wrapper
} //end .promotion

/* End Promotion * --------------------------------------- */
